<!DOCTYPE html>

<html>
<head>
    <title>My Budget</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/public/style/vendor.css">
    <link rel="stylesheet" type="text/css" href="/public/style/main.css">

</head>
<body ng-app="mybudget">

<div>

    <div class="column">
        <div class="ui segment">
            <a href="/" class="ui button tiny">Home</a>
            <a href="/category" class="ui button tiny">Category</a>
        </div>

        <ng-view/>

    </div>


</div>

<script src="/public/js/vendor.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

